.inc-exp-container {
    /* background-color: #fff; */
    /* box-shadow: var(--box-shadow); */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .inc-exp-container > div {
    flex: 1;
    text-align: center;
  }

 
  /* .green {
      color: #2ecc71;
  }

  .red {
      color: #c0392b;
  } */

  .money-plus {
    text-align: center;
    font-size: 2rem;
    color: #2ecc71;
  }

   .green, .red, .p-money-plus, .p-money-minus {
    font-size: 1.5em;
    color: white;
  }
  
  .money-minus {

    text-align: center;
    font-size: 2rem;
    color: #c0392b;
  }

  .income, .expense {
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
  }

  .income {
    background-color: #67a380;
  }

  .expense {
    background-color: rgb(192, 107, 98);
  }
  